*{
    padding: 0;
    margin: 0;
}

.border-sample{
    border:thin solid black !important;
    background-color: #008b8b;
}
header{
   color: #ffffff;
   font-size: 24pt;
   padding: 20px;
}
footer{
   color: rgb(255, 255, 255);
   font-size: 24pt;
}
body{
   font-family: 'Inria Serif', serif;
   color: #516063;
   font-size: 18pt;
   background-color: #caffff;
}
.container{
   padding: 20px;
}
h1{
   margin-bottom: 20px;
}
.content{
   margin-bottom: 30px;
   text-align: justify;
}
p{
   margin-bottom: 10px;
}
section{
   margin-bottom: 20px;
   padding: 15px;
   font-size: 16px;
   width: 400px;
   height: auto;
}
.section-container{
   display: flex;
   justify-content: space-evenly;
}
section.border-sample{
   background-color: aquamarine;
}
p.beda-warna{
    color: darkslategray;
}